/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh; /* Ocupa la parte superior de la pantalla */
    overflow-y: auto;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"], input[type="date"], input[type="number"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="time"]:focus {
    outline: none;
    border-color: #4CAF50;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Notificaciones */
.notification {
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    display: none;
}

.success {
    background-color: #4CAF50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
    }
}
